<!DOCTYPE html>
<html>
  <head>
    <title>SampleProject</title>
    <%= csrf_meta_tags %>
    <%= render 'layouts/js_and_styles' %>
  </head>

  <body>
  	<div class="container">
    	<%= yield %>
    </div>
  </body>
</html>
